---
pagination:
  data: collections.alleysByCity
  alias: theKey
  size: "10"
permalink: "/{{ collections.alleysByCity[theKey].state | slugify }}/{{ collections.alleyByCity[theKey].city | slugify }}/"
---

<ul>
{% for alley in collections.alleysByCity[theKey].alleys %}
<li>{{ alley.data.alley }}</li>
{% endfor %}
</ul>
