---
pagination:
  data: collections.alleysByState
  alias: theKey
  size: 1
permalink: "/{{ theKey | slugify }}/"
---

<ul>
{% for alley in collections.alleysByState[theKey] %}
<li>{{ alley.data.alley }}</li>
{% endfor %}
</ul>
