---
pagination:
  data: collections.allAlleys
  alias: alley
  size: "10"
permalink: "/{{ alley.data.state }}/{{ alley.data.city }}/{{ alley.data.alley }}/"
---

This is the page for {{ alley.data.alley }}.
