---
pagination:
  data: collections.states
  alias: state
  size: 1
permalink: "/{{ state | slugify }}/"
---

{% set cities = state | citiesForState(collections.cities) %}

<ul>
{% for city in cities %}
hello
  <li><a href="/{{ state | slugify }}/{{ city | slugify }}/">{{ city }}</a></li>
{% endfor %}
</ul>